## 1. Import Libraries

In [2]:
#import libaries
import pandas as pd
import numpy as np
import os

## 2. Import dataframe

In [4]:
#Create path
#Create project path
path = r'/Users/gwynreniers/Documents/Instacart Analysis'
path

'/Users/gwynreniers/Documents/Instacart Analysis'

In [5]:
# Import dataframe
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data','ords_prods_comb_updated.pkl'))
ords_prods_merge.head(1)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,Busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Regularly busy,Average orders
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Least busy,Average orders
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Least busy,Most orders
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders
5,3367565,1,prior,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Regularly busy,Average orders
6,550135,1,prior,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Busiest Day,Most orders
7,3108588,1,prior,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Busiest Day,Most orders
8,2295261,1,prior,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Busiest Day,Most orders
9,2550362,1,prior,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders
10,2968173,15,prior,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Busiest Day,Most orders
11,1870022,15,prior,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Regularly busy,Most orders
12,1911383,15,prior,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Regularly busy,Most orders
13,2715276,15,prior,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Busiest Day,Most orders
14,487368,15,prior,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Busiest Day,Most orders

In [21]:
#Create a subset
df = ords_prods_merge[:1000000]

In [22]:
df.shape

(1000000, 21)

In [23]:
df.groupby('product_name')

In [25]:
#find the mean 
ords_prods_merge.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [10]:
# Check basis statistics of product prices for each loyalty category
df.groupby('department_id').agg({'order_number':['mean','min','max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

In [26]:
# Creating a loyalty flag for existing customers 
# Create new column with max order
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'
])['order_number'].transform(np.max)

In [12]:
ords_prods_merge.head(15)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,Busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Regularly busy,Average orders,10
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Least busy,Average orders,10
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Least busy,Most orders,10
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders,10
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,10
5,3367565,1,prior,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Regularly busy,Average orders,10
6,550135,1,prior,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Busiest Day,Most orders,10
7,3108588,1,prior,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Busiest Day,Most orders,10
8,2295261,1,prior,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Busiest Day,Most orders,10
9,2550362,1,prior,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders,10
10,2968173,15,prior,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Busiest Day,Most orders,22
11,1870022,15,prior,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Regularly busy,Most orders,22
12,1911383,15,prior,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Regularly busy,Most orders,22
13,2715276,15,prior,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Busiest Day,Most orders,22
14,487368,15,prior,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Busiest Day,Most orders,22

In [13]:
ords_prods_merge.head(100)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,Busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Regularly busy,Average orders,10
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Least busy,Average orders,10
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Least busy,Most orders,10
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders,10
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3226575,360,prior,1,5,12,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Regularly busy,Most orders,3
96,1469869,377,prior,3,5,17,3.0,196,9,0,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Regularly busy,Average orders,3
97,1927023,387,prior,2,4,10,22.0,196,3,0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,8
98,858092,420,prior,4,1,19,30.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Busiest Day,Average orders,22
99,119314,420,prior,5,3,19,16.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Least busy,Average orders,22

In [14]:
pd.options.display.max_rows = None

In [15]:
pd.options.display.max_rows = None

In [16]:
# Step two: Create loyalty flag column based on max order criteria

ords_prods_merge.loc[ords_prods_merge['max_order'] > 40,'loyalty_flag'] = 'Loyal customer'

In [17]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag']= 'Regular customer'

In [18]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [19]:
# Count number of customers by loyalty flag
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [20]:
ords_prods_merge[['user_id','loyalty_flag','order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

## Task 4.8

In [28]:
# Check statistics of product prices for each loyalty category (number limits placed by data scientists)

ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean','min','max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

In [29]:
ords_prods_merge.shape

(32404859, 21)

In [30]:
ords_prods_merge.head(20)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,Busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,77,7,9.0,both,Mid-range product,Regularly Busy,Regularly busy,Average orders,10,New customer
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly Busy,Least busy,Average orders,10,New customer
2,473747,1,prior,3,3,12,21.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly Busy,Least busy,Most orders,10,New customer
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders,10,New customer
4,431534,1,prior,5,4,15,28.0,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,10,New customer
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly Busy,Regularly busy,Average orders,10,New customer
6,550135,1,prior,7,1,9,20.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly Busy,Busiest Day,Most orders,10,New customer
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,77,7,9.0,both,Mid-range product,Regularly Busy,Busiest Day,Most orders,10,New customer
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,77,7,9.0,both,Mid-range product,Regularly Busy,Busiest Day,Most orders,10,New customer
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders,10,New customer
10,2968173,15,prior,15,1,9,7.0,196,2,0,...,77,7,9.0,both,Mid-range product,Regularly Busy,Busiest Day,Most orders,22,Regular customer
11,1870022,15,prior,17,2,16,8.0,196,6,1,...,77,7,9.0,both,Mid-range product,Regularly Busy,Regularly busy,Most orders,22,Regular customer
12,1911383,15,prior,18,2,11,7.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly Busy,Regularly busy,Most orders,22,Regular customer
13,2715276,15,prior,21,1,9,7.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly Busy,Busiest Day,Most orders,22,Regular customer
14,487368,15,prior,22,1,10,14.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly Busy,Busiest Day,Most orders,22,Regular customer
15,2293453,19,prior,2,5,14,6.0,196,3,0,...,77,7,9.0,both,Mid-range product,Regularly Busy,Regularly busy,Most orders,9,New customer
16,1973799,19,prior,5,6,12,8.0,196,15,1,...,77,7,9.0,both,Mid-range product,Regularly Busy,Regularly busy,Most orders,9,New customer
17,532817,19,prior,7,4,17,6.0,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders,9,New customer
18,1573906,21,prior,10,3,10,6.0,196,2,0,...,77,7,9.0,both,Mid-range product,Regularly Busy,Least busy,Most orders,33,Regular customer
19,1593000,31,prior,10,3,8,7.0,196,17,0,...,77,7,9.0,both,Mid-range product,Regularly Busy,Least busy,Average orders,20,Regular customer

In [34]:
# 1. Create new column, mean price by user
ords_prods_merge['mean_order']= ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [35]:
# 2. Assign spending flag based on average price

ords_prods_merge.loc[ords_prods_merge['mean_order']<10, 'spending_flag'] = 'Low spender'
ords_prods_merge.loc[ords_prods_merge['mean_order']>=10, 'spending_flag'] = 'High spender'

In [36]:
ords_prods_merge['spending_flag'].value_counts(dropna=False)

Low spender     31770614
High spender      634245
Name: spending_flag, dtype: int64

In [37]:
ords_prods_merge[['user_id', 'mean_order', 'spending_flag']].head(100)

    user_id  mean_order spending_flag
0         1    6.367797   Low spender
1         1    6.367797   Low spender
2         1    6.367797   Low spender
3         1    6.367797   Low spender
4         1    6.367797   Low spender
5         1    6.367797   Low spender
6         1    6.367797   Low spender
7         1    6.367797   Low spender
8         1    6.367797   Low spender
9         1    6.367797   Low spender
10       15    3.980556   Low spender
11       15    3.980556   Low spender
12       15    3.980556   Low spender
13       15    3.980556   Low spender
14       15    3.980556   Low spender
15       19    8.372059   Low spender
16       19    8.372059   Low spender
17       19    8.372059   Low spender
18       21    7.012683   Low spender
19       31    8.137793   Low spender
20       31    8.137793   Low spender
21       43    7.444898   Low spender
22       43    7.444898   Low spender
23       52    6.356287   Low spender
24       52    6.356287   Low spender
25       52    6.356287   Low spender
26       52    6.356287   Low spender
27       52    6.356287   Low spender
28       52    6.356287   Low spender
29       52    6.356287   Low spender
30       52    6.356287   Low spender
31       52    6.356287   Low spender
32       52    6.356287   Low spender
33       52    6.356287   Low spender
34       52    6.356287   Low spender
35       52    6.356287   Low spender
36       52    6.356287   Low spender
37       67    7.656790   Low spender
38       67    7.656790   Low spender
39       67    7.656790   Low spender
40       67    7.656790   Low spender
41       67    7.656790   Low spender
42       67    7.656790   Low spender
43       67    7.656790   Low spender
44       67    7.656790   Low spender
45       67    7.656790   Low spender
46       67    7.656790   Low spender
47       67    7.656790   Low spender
48       67    7.656790   Low spender
49       67    7.656790   Low spender
50       67    7.656790   Low spender
51       67    7.656790   Low spender
52       67    7.656790   Low spender
53       67    7.656790   Low spender
54       67    7.656790   Low spender
55       67    7.656790   Low spender
56       81    8.165385   Low spender
57       81    8.165385   Low spender
58       82    6.441221   Low spender
59       82    6.441221   Low spender
60       82    6.441221   Low spender
61       82    6.441221   Low spender
62       82    6.441221   Low spender
63       82    6.441221   Low spender
64       82    6.441221   Low spender
65       82    6.441221   Low spender
66       82    6.441221   Low spender
67       98    8.028000   Low spender
68       98    8.028000   Low spender
69       98    8.028000   Low spender
70       98    8.028000   Low spender
71       98    8.028000   Low spender
72       98    8.028000   Low spender
73       98    8.028000   Low spender
74      109    5.850725   Low spender
75      120    9.385714   Low spender
76      120    9.385714   Low spender
77      185    7.715000   Low spender
78      195    7.149730   Low spender
79      195    7.149730   Low spender
80      195    7.149730   Low spender
81      195    7.149730   Low spender
82      195    7.149730   Low spender
83      195    7.149730   Low spender
84      195    7.149730   Low spender
85      195    7.149730   Low spender
86      195    7.149730   Low spender
87      195    7.149730   Low spender
88      195    7.149730   Low spender
89      195    7.149730   Low spender
90      222    6.862397   Low spender
91      222    6.862397   Low spender
92      290    7.285597   Low spender
93      290    7.285597   Low spender
94      331    7.705128   Low spender
95      360   10.006250  High spender
96      377    8.496552   Low spender
97      387    7.396610   Low spender
98      420    7.387805   Low spender
99      420    7.387805   Low spender

In [43]:
#Create a frequency flag based on median days since previous order was made.
# 1.  Create new column for median days since previous order

ords_prods_merge['median_days_since_previous_order'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.median)

In [44]:
ords_prods_merge.shape

(32404859, 24)

In [45]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,_merge,price_range_loc,busiest_day,busiest_days,Busiest_period_of_day,max_order,loyalty_flag,mean_order,spending_flag,median_days_since_previous_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,both,Mid-range product,Regularly Busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,4.7
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,both,Mid-range product,Regularly Busy,Least busy,Average orders,10,New customer,6.367797,Low spender,4.7
2,473747,1,prior,3,3,12,21.0,196,1,1,...,both,Mid-range product,Regularly Busy,Least busy,Most orders,10,New customer,6.367797,Low spender,4.7
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,both,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender,4.7
4,431534,1,prior,5,4,15,28.0,196,1,1,...,both,Mid-range product,Least busy,Least busy,Most orders,10,New customer,6.367797,Low spender,4.7

In [46]:
# 2. Assign frequency flags based on median days since previous order
ords_prods_merge.loc[ords_prods_merge['median_days_since_previous_order'] > 20, 'Frequency_flag'] = 'New customer'
ords_prods_merge.loc[(ords_prods_merge['median_days_since_previous_order'] > 10) & (ords_prods_merge['median_days_since_previous_order'] <= 20), 'Frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['median_days_since_previous_order'] <= 10, 'Frequency_flag'] = 'Frequent customer'

In [47]:
ords_prods_merge.shape

(32404859, 25)

In [48]:
ords_prods_merge['Frequency_flag'].value_counts(dropna = False)

Frequent customer    31880638
Regular customer       524072
New customer              149
Name: Frequency_flag, dtype: int64

In [49]:
ords_prods_merge[['user_id', 'median_days_since_previous_order', 'Frequency_flag']].head(100)

    user_id  median_days_since_previous_order     Frequency_flag
0         1                              4.70  Frequent customer
1         1                              4.70  Frequent customer
2         1                              4.70  Frequent customer
3         1                              4.70  Frequent customer
4         1                              4.70  Frequent customer
5         1                              4.70  Frequent customer
6         1                              4.70  Frequent customer
7         1                              4.70  Frequent customer
8         1                              4.70  Frequent customer
9         1                              4.70  Frequent customer
10       15                              3.80  Frequent customer
11       15                              3.80  Frequent customer
12       15                              3.80  Frequent customer
13       15                              3.80  Frequent customer
14       15                              3.80  Frequent customer
15       19                              7.75  Frequent customer
16       19                              7.75  Frequent customer
17       19                              7.75  Frequent customer
18       21                              6.20  Frequent customer
19       31                              7.70  Frequent customer
20       31                              7.70  Frequent customer
21       43                              7.20  Frequent customer
22       43                              7.20  Frequent customer
23       52                              4.90  Frequent customer
24       52                              4.90  Frequent customer
25       52                              4.90  Frequent customer
26       52                              4.90  Frequent customer
27       52                              4.90  Frequent customer
28       52                              4.90  Frequent customer
29       52                              4.90  Frequent customer
30       52                              4.90  Frequent customer
31       52                              4.90  Frequent customer
32       52                              4.90  Frequent customer
33       52                              4.90  Frequent customer
34       52                              4.90  Frequent customer
35       52                              4.90  Frequent customer
36       52                              4.90  Frequent customer
37       67                              8.20  Frequent customer
38       67                              8.20  Frequent customer
39       67                              8.20  Frequent customer
40       67                              8.20  Frequent customer
41       67                              8.20  Frequent customer
42       67                              8.20  Frequent customer
43       67                              8.20  Frequent customer
44       67                              8.20  Frequent customer
45       67                              8.20  Frequent customer
46       67                              8.20  Frequent customer
47       67                              8.20  Frequent customer
48       67                              8.20  Frequent customer
49       67                              8.20  Frequent customer
50       67                              8.20  Frequent customer
51       67                              8.20  Frequent customer
52       67                              8.20  Frequent customer
53       67                              8.20  Frequent customer
54       67                              8.20  Frequent customer
55       67                              8.20  Frequent customer
56       81                              9.05  Frequent customer
57       81                              9.05  Frequent customer
58       82                              6.80  Frequent customer
59       82                              6.80  Frequent customer
60       82                              6.80  Frequent customer
61       82                              6.80  Frequent customer
62       82                              6.80  Frequent customer
63       82                              6.80  Frequent customer
64       82                              6.80  Frequent customer
65       82                              6.80  Frequent customer
66       82                              6.80  Frequent customer
67       98                              9.00  Frequent customer
68       98                              9.00  Frequent customer
69       98                              9.00  Frequent customer
70       98                              9.00  Frequent customer
71       98                              9.00  Frequent customer
72       98                              9.00  Frequent customer
73       98                              9.00  Frequent customer
74      109                              4.80  Frequent customer
75      120                              9.00  Frequent customer
76      120                              9.00  Frequent customer
77      185                              6.55  Frequent customer
78      195                              7.10  Frequent customer
79      195                              7.10  Frequent customer
80      195                              7.10  Frequent customer
81      195                              7.10  Frequent customer
82      195                              7.10  Frequent customer
83      195                              7.10  Frequent customer
84      195                              7.10  Frequent customer
85      195                              7.10  Frequent customer
86      195                              7.10  Frequent customer
87      195                              7.10  Frequent customer
88      195                              7.10  Frequent customer
89      195                              7.10  Frequent customer
90      222                              5.10  Frequent customer
91      222                              5.10  Frequent customer
92      290                              6.50  Frequent customer
93      290                              6.50  Frequent customer
94      331                              7.90  Frequent customer
95      360                             11.65   Regular customer
96      377                              8.20  Frequent customer
97      387                              6.40  Frequent customer
98      420                              6.90  Frequent customer
99      420                              6.90  Frequent customer

In [50]:
# Renaming mean_order column to mean_price to make it easier to understand
ords_prods_merge.rename(columns = {'mean_order':'mean_price'}, inplace = True)

In [51]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,Busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag,median_days_since_previous_order,Frequency_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,Mid-range product,Regularly Busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,4.7,Frequent customer
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,Mid-range product,Regularly Busy,Least busy,Average orders,10,New customer,6.367797,Low spender,4.7,Frequent customer
2,473747,1,prior,3,3,12,21.0,196,1,1,...,Mid-range product,Regularly Busy,Least busy,Most orders,10,New customer,6.367797,Low spender,4.7,Frequent customer
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender,4.7,Frequent customer
4,431534,1,prior,5,4,15,28.0,196,1,1,...,Mid-range product,Least busy,Least busy,Most orders,10,New customer,6.367797,Low spender,4.7,Frequent customer

In [ ]:
# Export new file as pkl
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_user_flags.pkl'))